#==================#
# Ignore Libraries #
#==================#
/target/
/Screnshots/
/log/

#==================#
# Ignore Files     #
#==================#



#=======================#
# Ignore Extension Files#
#=======================#
*.class